* {
    margin:0; 
    padding:0; 
    border:0;
}

html, body {
    width: auto;
    height: auto;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
    background-color:#2F367F;
    color: #000000;
    padding-top: 20px;
}

.form-register{
    width: 100%;
    max-width: 500px;
    margin: auto;
    background-color: #FFFFFF;
    border-radius: 5px;
}

.form__tittle{
    background-color: #E1B95A;
    color: #000000;
    padding: 7px;
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 5px solid #060606;
}

.inputs-container{
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
}

input{
    margin-bottom: 15px;
    padding: 15px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid darkgray;
}

.input-100{
    width: 100%;
}

.btn-send{
    background-color: #E1B95A;
    color: #000000;
    margin: auto;
    padding: 10px 40px;
    cursor: pointer;
    font-size: 20px;
}

.error {
    color: red;
    text-align: center;
    margin: 20px 0;
}