* {
    margin:0; 
    padding:0; 
    border:0;
}

html, body {
    width: auto;
    height: auto;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
    background-color:#2F367F;
    color: #000000;
    padding-top: 10px;
    padding-bottom: 20px;
}

header {
    background-color:#FFFFFF;
    width: 98%;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px 5px 0 0;
}

#menu {
    width: 98%;
    height: 60px;
    margin: 0 auto 10px auto;
    text-align: center;
    background-color: #ffffff;
    border-radius: 0 0 5px 5px;
}

ul, ol {
    list-style: none;
}

#nav > li {
    display: inline-block;
}

#nav li a {
    background-color: #ffffff;
    color: #2F367F;
    text-decoration: none;
    padding: 20px 20px;
    display: block;
}

#nav li a:hover {
    color: #E1B95A;
}

#nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

#nav li ul li a {
    background-color: #ffffff;
    color: #2F367F;
}

#nav li ul li a:hover {
    background-color: #ffffff;
    color: #E1B95A; 
}

#nav li:hover > ul {
    display: block;
}               

.form-register {
    width: 98%;
    max-width: 500px;
    margin: auto;
    background-color: #FFFFFF;
    border-radius: 7px;
}

.form__tittle {
    background-color: #E1B95A;
    color: #000000;
    padding: 7px;
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 5px solid #060606;
}

.inputs-container {
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

input {
    margin-bottom: 15px;
    padding: 15px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid darkgray;
}

select, textarea {
    margin-bottom: 15px;
    padding: 15px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid darkgray;
    width: 100%;
}

.input-100 {
    width: 100%;
}

.btn-send {
    background-color: #E1B95A;
    color: #000000;
    margin: auto;
    padding: 10px 40px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
}

.error {
    color: red;
    text-align: center;
    margin: 20px 0;
}

/* Estilos para los datatables */
.dataTables_processing, .dataTables_length,  .dataTables_filter, .dataTables_paginate, .dataTables_info,  .dataTables_empty {
    color: #ffffff!important;
}

.sorting, .sorting_asc, .sorting_desc {
    color: #E1B95A;
}
